.title {
  font-size: calc(var(--size) * 1.5);
  letter-spacing: 2px;
  margin-bottom: var(--size);
}

.firstColor {
  color: var(--secondColor);
  animation: flicker 1.5s infinite alternate;
}

.secondColor {
  color: var(--firstColor);
  text-shadow: 0 0 calc(var(--size)) var(--firstColor),
    0 0 calc(var(--size) * 2) var(--firstColor),
    0 0 calc(var(--size) * 4) var(--firstColor);
}

@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 calc(var(--size)) var(--secondColor),
      0 0 calc(var(--size) * 2) var(--secondColor),
      0 0 calc(var(--size) * 4) var(--secondColor);
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}
